Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)

Fix CA cert pinning docs
  docs/ref/configuration.md
Due: none

Allow limited server URL override in minion config
  changelog/156.added.md
  docs/ref/configuration.md
  src/saltext/vault/runners/vault.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/factory.py
  tests/functional/modules/vault/test_core_factory.py
  tests/integration/runners/vault/test_approle_issuance.py
  tests/integration/runners/vault/test_token_issuance.py
  tests/unit/runners/vault/test_vault.py
  tests/unit/utils/vault/conftest.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Add missing types to utils
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/factory.py
  src/saltext/vault/utils/vault/kv.py
  tests/unit/utils/vault/test_factory.py
Due: check-cli-examples, nox

Add missing types to utils (#176)
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/factory.py
  src/saltext/vault/utils/vault/kv.py
  tests/unit/utils/vault/test_factory.py
Due: check-cli-examples, nox

Increase test timeout
  .github/workflows/test-action.yml
Due: none

Account for recent patches to x509_v2
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
Due: check-cli-examples, nox

Work without `cryptography` as far as possible
  changelog/+cryptographymissing.fixed.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/helpers.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/modules/test_vault_pki.py
  tests/unit/utils/vault/test_helpers.py
  tests/unit/utils/vault/test_pki.py
Due: check-cli-examples, nox

Use `type(err)`, not `err.__class__`
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/modules/vault_gpg.py
  src/saltext/vault/modules/vault_pki.py
Due: check-cli-examples, nox

Introduce more arg helpers
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_plugin.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/states/vault_secret.py
  src/saltext/vault/utils/vault/helpers.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/modules/test_vault_plugin.py
  tests/unit/states/test_vault_pki.py
  tests/unit/states/test_vault_secret.py
  tests/unit/utils/vault/test_helpers.py
Due: check-cli-examples, nox

Catch correct exception when default issuer is missing
  changelog/+readmissingissuer.fixed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Add more params to `update_issuer`
  changelog/+updateissuer.added.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Add cert revocation via private key
  changelog/+revokewithpk.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Rename generate_root params
  changelog/+generateroottype.changed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/files/vault/policies/pki_admin.hcl
  tests/integration/wrapper/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Add more key and issuer management funcs to `vault_pki`
  changelog/+vaultpkifuncs.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Run file.managed in test mode concurrently
  changelog/+certmanagedconcurrent.fixed.md
  src/saltext/vault/states/vault_pki.py
Due: nox

Add `vault_pki.intermediate_ca_present` state
  changelog/+intcertpresend.added.md
  changelog/+updateissuernewparams.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
  tests/integration/states/test_vault_pki.py
Due: check-cli-examples, nox

Add `vault_pki.root_ca_present` state
  changelog/+rootissuerpresent.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
  tests/unit/states/test_vault_pki.py
Due: check-cli-examples, nox

Correct missing otherName support workaround
  changelog/+othernamesupport.fixed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Account for role/issuer in `vault_pki.certificate_managed`
  changelog/+certmanagedallexts.changed.md
  changelog/+certmanagedemailcn.fixed.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/states/test_vault_pki.py
  tests/unit/utils/vault/test_pki.py
Due: check-cli-examples, nox

Don't require common_name/role_name when unnecessary
  changelog/+certmanagedgenericendpoints.changed.md
  changelog/+certnorequirecn.fixed.md
  changelog/+signverbatimnorole.fixed.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: check-cli-examples, nox

Report more detailed changes in root_ca_present
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Rename *_ca_present to *_issuer_managed
  changelog/+intcertpresend.added.md
  changelog/+rootissuerpresent.added.md
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
  tests/integration/states/test_vault_pki.py
  tests/unit/states/test_vault_pki.py
Due: nox

Load CSR from file paths and ensure PEM
  changelog/+csrpathsign.fixed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Account for pre-generated `csr` in certificate_managed
  changelog/+certmanagedcsr.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: check-cli-examples, nox
