Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

check-cli-examples:
  name: Check CLI examples on execution modules
  entry: python .pre-commit-hooks/check-cli-examples.py
  language: python

nox:
  alias: lint-tests
  name: Lint Tests
  language: python
  entry: nox -e lint-tests-pre-commit --
  require_serial: true
  additional_dependencies:
  - nox==2025.11.12
  - uv==0.9.27

Ignore some branches in coverage
  src/saltext/vault/modules/vault.py
  src/saltext/vault/sdb/vault.py
  src/saltext/vault/utils/vault/cache.py
  src/saltext/vault/utils/vault/helpers.py
Due: check-cli-examples, nox

Fix config setup in func tests, reduce overrides to necessary
  tests/conftest.py
  tests/functional/beacons/test_vault_lease.py
  tests/functional/conftest.py
  tests/functional/modules/test_vault.py
  tests/functional/modules/test_vault_approle.py
  tests/functional/modules/test_vault_db.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_plugin.py
  tests/functional/modules/vault_ssh/conftest.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/functional/runners/vault/test_approle_issuance.py
  tests/functional/states/test_vault_approle.py
  tests/functional/states/test_vault_db.py
  tests/functional/states/test_vault_pki.py
  tests/functional/states/test_vault_plugin.py
  tests/functional/states/test_vault_secret.py
  tests/functional/states/test_vault_ssh.py
  tests/functional/utils/test_vault_api.py
  tests/integration/conftest.py
  tests/integration/utils/factory/test_sdb_in_config.py
  tests/integration/wrapper/test_vault_approle.py
  tests/integration/wrapper/test_vault_pki.py
  tests/integration/wrapper/test_vault_plugin.py
Due: nox

Fix clear_cache session keeping client in context
  changelog/+clearcacheclientcontext.fixed.md
  src/saltext/vault/utils/vault/factory.py
  tests/functional/modules/vault/test_core_factory.py
  tests/unit/utils/vault/conftest.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Update tests path mapping
  tests/support/files_mapping.py
Due: nox

Fix pylint
  noxfile.py
Due: nox

Allow limited server URL override in minion config
  changelog/156.added.md
  docs/ref/configuration.md
  src/saltext/vault/runners/vault.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/factory.py
  tests/functional/modules/vault/test_core_factory.py
  tests/integration/runners/vault/test_approle_issuance.py
  tests/integration/runners/vault/test_token_issuance.py
  tests/unit/runners/vault/test_vault.py
  tests/unit/utils/vault/conftest.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Fix CA cert pinning docs
  docs/ref/configuration.md
Due: none

Add `vault_gpg` modules
  changelog/+gpg.added.md
  docs/index.rst
  docs/ref/modules/index.rst
  docs/ref/modules/saltext.vault.modules.vault_gpg.rst
  docs/ref/states/index.rst
  docs/ref/states/saltext.vault.states.vault_gpg.rst
  docs/ref/wrapper/index.rst
  docs/ref/wrapper/saltext.vault.wrapper.vault_gpg.rst
  pyproject.toml
  src/saltext/vault/modules/vault_gpg.py
  src/saltext/vault/states/vault_gpg.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/states/vault_plugin.py
  src/saltext/vault/utils/vault/api.py
  src/saltext/vault/utils/vault/helpers.py
  src/saltext/vault/wrapper/vault_gpg.py
  tests/conftest.py
  tests/functional/modules/test_vault_gpg.py
  tests/functional/states/test_vault_gpg.py
  tests/integration/files/vault/policies/gpg_admin.hcl
  tests/integration/files/vault/policies/gpg_sign_fallback.hcl
  tests/integration/modules/test_vault_gpg.py
  tests/integration/wrapper/test_vault_gpg.py
  tests/support/gpg.py
  tests/support/helpers.py
Due: check-cli-examples, nox

Add --changed-tests flag to pytest
  tests/conftest.py
Due: nox

Fix self-revocation
  src/saltext/vault/utils/vault/client.py
  tests/functional/utils/factory/__init__.py
  tests/functional/utils/factory/test_clear_cache.py
Due: nox

Fix clear_cache runner
  changelog/+clear_cache.fixed.md
  src/saltext/vault/runners/vault.py
  tests/functional/conftest.py
  tests/functional/runners/vault/test_clear_cache_clears_runner_cache.py
  tests/functional/runners/vault/test_clear_cache_revokes_all_tokens.py
Due: nox

Fix auth_info runner with bind_secret_ids=false
  changelog/+auth_info.fixed.md
  src/saltext/vault/runners/vault.py
Due: nox

Fix token_entity_id migration corrupting token expire_time
  changelog/+entityidttl.fixed.md
  src/saltext/vault/utils/vault/auth.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/leases.py
  tests/unit/utils/vault/conftest.py
  tests/unit/utils/vault/test_auth.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Fix authenticated unwrap requests not deducting a token use
  changelog/+unwrapuse.fixed.md
  src/saltext/vault/utils/vault/client.py
Due: nox

Add creation path verification for wrapped auth in config
  changelog/+exppath.added.md
  src/saltext/vault/utils/vault/factory.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Fix cache flushing in LeaseStore.get
  changelog/+leaseflush.fixed.md
  src/saltext/vault/utils/vault/leases.py
  tests/functional/utils/test_vault_leases.py
Due: nox

Minor fixes
  changelog/+gpg.added.md
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/utils/vault/cache.py
  tests/functional/utils/test_vault_leases.py
Due: check-cli-examples, nox

Fix SecretID custom cache names with dots in them
  src/saltext/vault/utils/vault/approle.py
  tests/functional/modules/test_vault_approle.py
Due: nox

Fix TypeError on missing GPG key in export_public_key
  src/saltext/vault/modules/vault_gpg.py
  tests/functional/modules/test_vault_gpg.py
Due: check-cli-examples, nox

Fix listing empty (revoked) certificates
  changelog/+pkilistempty.fixed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Fix alt_names passed as dict with string values
  changelog/+pkidictsans.fixed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Fix get_signing_policy with empty allowed_*
  changelog/+sshsigningpolicyempty.fixed.md
  src/saltext/vault/modules/vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh.py
Due: check-cli-examples, nox

Add query param support to client, fix plugin versions param
  src/saltext/vault/modules/vault_plugin.py
  src/saltext/vault/utils/vault/client.py
  tests/functional/modules/test_vault_plugin.py
  tests/unit/utils/vault/test_client.py
Due: check-cli-examples, nox

Fix handling of static DB leases
  changelog/+staticcreds.fixed.md
  src/saltext/vault/beacons/vault_lease.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/utils/vault/leases.py
  tests/functional/modules/test_vault_db.py
  tests/functional/utils/test_vault_leases.py
Due: check-cli-examples, nox

Fix handling of binary encodings by certificate_managed
  changelog/+pkiderchain.fixed.md
  changelog/+pkidersecondrun.fixed.md
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Fix certificate_managed traceback with missing issuer
  changelog/+pkimissingissuer.fixed.md
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Normalize parameters in PKI role_managed kwargs
  changelog/+pkirolenormalization.fixed.md
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Implement workaround/docs for otherName w/ x509_v2
  changelog/+pkiothername.fixed.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Monitor SAN changes in `vault_pki.certificate_managed`
  changelog/127.fixed.md
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Add required policies to PKI exemod
  src/saltext/vault/modules/vault_pki.py
Due: check-cli-examples, nox

Don't expect to read private keys for connection config
  changelog/+dbconnrequiredkwargs.fixed.md
  changelog/+dbconnsecretparams.fixed.md
  src/saltext/vault/states/vault_db.py
  src/saltext/vault/utils/vault/db.py
  tests/functional/states/test_vault_db.py
  tests/unit/utils/vault/test_db.py
Due: nox

Account for strings being passed in root_rotation_statements
  changelog/+dbconnstatements.fixed.md
  src/saltext/vault/states/vault_db.py
Due: nox

Fix lease handling in creds_cached
  changelog/+dbcredsattrreset.fixed.md
  changelog/+dbcredstimestring.fixed.md
  src/saltext/vault/states/vault_db.py
  tests/functional/states/test_vault_db.py
Due: nox

Catch exceptions in creds_cached/uncached
  changelog/+dbcredsexcept.fixed.md
  src/saltext/vault/states/vault_db.py
Due: nox

Deserialize potential CSL params before iterating
  src/saltext/vault/states/vault_approle.py
  tests/functional/states/test_vault_approle.py
Due: nox

Add `vault.patch_raw`
  changelog/+patchraw.added.md
  src/saltext/vault/modules/vault.py
  tests/functional/modules/vault/test_vault_kv.py
Due: check-cli-examples, nox

Fix secret.present with specific keys
  changelog/+secretspecialkeys.fixed.md
  src/saltext/vault/states/vault_secret.py
  tests/functional/states/test_vault_secret.py
Due: nox

Fix merge patch implementation
  changelog/+secretmergepatch.fixed.md
  src/saltext/vault/states/vault_secret.py
  src/saltext/vault/utils/vault/kv.py
  tests/functional/states/test_vault_secret.py
  tests/unit/utils/vault/test_kv.py
Due: nox

Proxy `wipe` and `destroy` operations to `delete` on KVv1
  changelog/+secretkvv1.changed.md
  src/saltext/vault/modules/vault.py
  src/saltext/vault/utils/vault/kv.py
  tests/functional/states/test_vault_secret.py
Due: check-cli-examples, nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)
