Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

check-cli-examples:
  name: Check CLI examples on execution modules
  entry: python .pre-commit-hooks/check-cli-examples.py
  language: python

nox:
  alias: lint-tests
  name: Lint Tests
  language: python
  entry: nox -e lint-tests-pre-commit --
  require_serial: true
  additional_dependencies:
  - nox==2025.11.12
  - uv==0.9.27

More debug logging
  src/saltext/vault/utils/vault/cache.py
  src/saltext/vault/utils/vault/helpers.py
Due: nox

Fix wrappers in Salt 3008.x
  changelog/149.fixed.md
  src/saltext/vault/utils/vault/factory.py
Due: nox

Test against new 3008.x branch, not master
  .github/workflows/test-action.yml
  noxfile.py
Due: nox

Fix cluster tests
  tests/integration/runners/test_vault_master_cluster.py
Due: nox

Remove 3008.x from CI again
  .github/workflows/test-action.yml
Due: none

Fix cache tests for 3008+
  tests/integration/conftest.py
  tests/integration/runners/test_vault.py
Due: nox

Minor fixes
  docs/topics/auth_faq.md
  docs/topics/quickstart.md
Due: none

Add `ssh_pki` backend compatibility
  .github/workflows/test-action.yml
  changelog/138.added.md
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/states/vault_ssh.py
  src/saltext/vault/wrapper/vault_ssh.py
  tests/conftest.py
  tests/functional/modules/vault_ssh/conftest.py
  tests/functional/modules/vault_ssh/test_vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/integration/wrapper/vault_ssh/__init__.py
  tests/integration/wrapper/vault_ssh/conftest.py
  tests/integration/wrapper/vault_ssh/test_vault_ssh.py
  tests/integration/wrapper/vault_ssh/test_vault_ssh_pki_backend.py
  tests/support/vault.py
Due: check-cli-examples, nox

Fix Vault container startup
  tests/conftest.py
Due: nox

Fix pillar assertions on 3008+ (masking)
  tests/integration/modules/test_vault.py
  tests/integration/runners/test_vault.py
  tests/integration/runners/test_vault_master_cluster.py
Due: nox

test: fix chain handling
  src/saltext/vault/modules/vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

add _find_signing_issuer to namespaced functions in wrapper
  src/saltext/vault/wrapper/vault_pki.py
Due: nox

Update changelog/145.added.md
  changelog/145.added.md
Due: none

Update src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_pki.py
Due: check-cli-examples, nox

Update tests/unit/modules/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: nox

Update tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: nox

Update tests/integration/wrapper/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
Due: nox

remove test
  tests/unit/modules/test_vault_pki.py
Due: nox

fix precommit
  src/saltext/vault/modules/vault_pki.py
Due: check-cli-examples, nox

fix precommit
  tests/unit/modules/test_vault_pki.py
Due: nox

fix trailing whitespaces
  tests/unit/modules/test_vault_pki.py
Due: nox

Fix CI
  tests/integration/utils/factory/test_sdb_in_config.py
Due: nox

Fix CI (#158)
  tests/integration/utils/factory/test_sdb_in_config.py
Due: nox

Allow configuring server URL separately on minions
  docs/ref/configuration.md
  src/saltext/vault/utils/vault/factory.py
Due: nox

Correct default return of `list_issuers`
  src/saltext/vault/modules/vault_pki.py
Due: check-cli-examples, nox

Fix functional test
  tests/functional/modules/test_vault_pki.py
Due: nox

Fix wrapper integration test
  tests/integration/wrapper/test_vault_pki.py
Due: nox

Add `vault_pki.read_certificate_full`
  changelog/145.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Resolve conflicts
  .github/workflows/test-action.yml
Due: none

Fix SDB patch fallback when PATCH is not allowed
  changelog/+sdbpatch.fixed.md
  src/saltext/vault/sdb/vault.py
  tests/unit/sdb/test_vault.py
Due: nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)
