Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)

Add marker framework and flags for test kinds
  tests/functional/modules/test_vault_gpg.py
  tests/functional/states/test_vault_gpg.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/support/markers.py
  tests/support/pytest_hooks.py
Due: nox

Convert `pytest.skip` to `requires_backend` marks
  src/saltext/vault/modules/vault_approle.py
  src/saltext/vault/modules/vault_plugin.py
  src/saltext/vault/states/vault_approle.py
  src/saltext/vault/utils/vault/api.py
  tests/common/fixtures/vault_plugin.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_plugin.py
  tests/functional/states/test_vault_approle.py
  tests/functional/states/test_vault_plugin.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/integration/wrapper/test_vault_gpg.py
  tests/integration/wrapper/test_vault_plugin.py
Due: check-cli-examples, nox

Move spec match to Container, more specific assertions
  tests/common/containers.py
  tests/common/fixtures/vault_plugin.py
  tests/functional/modules/test_vault_approle.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_plugin.py
  tests/functional/states/vault_pki/conftest.py
  tests/functional/states/vault_pki/test_certificate_managed.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/functional/states/vault_pki/test_intermediate_issuer_managed.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/support/markers.py
  tests/support/pytest_hooks.py
Due: nox

Add backend selection flags
  tests/common/containers.py
  tests/conftest.py
  tests/functional/modules/test_vault_gpg.py
  tests/functional/pillar/vault/test_vault.py
  tests/functional/runners/vault/test_auth_info.py
  tests/functional/runners/vault/test_clear_cache_revokes_all_tokens.py
  tests/functional/runners/vault/test_signature_validation.py
  tests/functional/sdb/vault/test_general.py
  tests/functional/sdb/vault/test_patch_write_only.py
  tests/functional/sdb/vault/test_via_config_get_minion.py
  tests/functional/sdb/vault/test_via_sdb_module.py
  tests/functional/states/test_vault_gpg.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/functional/utils/factory/test_clear_cache.py
  tests/functional/utils/test_vault_leases.py
  tests/integration/modules/test_vault_gpg.py
  tests/integration/modules/vault/test_single_use_token.py
  tests/integration/modules/vault/test_token_minimum_ttl_renewable.py
  tests/integration/modules/vault/test_token_minimum_ttl_unrenewable.py
  tests/integration/modules/vault/test_update_config.py
  tests/integration/runners/vault/test_approle_issuance.py
  tests/integration/runners/vault/test_approle_issuance_without_secretid.py
  tests/integration/runners/vault/test_minion_local_auth.py
  tests/integration/runners/vault/test_pillar_policy_templates_cached.py
  tests/integration/runners/vault/test_pillar_policy_templates_uncached.py
  tests/integration/runners/vault/test_token_issuance.py
  tests/integration/runners/vault/test_token_issuance_old_config.py
  tests/integration/sdb/vault/test_single_use_token.py
  tests/integration/utils/factory/test_sdb_in_config.py
  tests/integration/utils/factory/test_unwrap_error_event.py
  tests/integration/wrapper/test_vault.py
  tests/integration/wrapper/test_vault_approle.py
  tests/integration/wrapper/test_vault_db.py
  tests/integration/wrapper/test_vault_gpg.py
  tests/integration/wrapper/test_vault_pki.py
  tests/integration/wrapper/test_vault_plugin.py
  tests/integration/wrapper/vault_ssh/test_vault_ssh.py
  tests/integration/wrapper/vault_ssh/test_vault_ssh_pki_backend.py
  tests/support/pytest_hooks.py
Due: nox

Hide single-parametrized fixtures from test IDs
  tests/support/pytest_hooks.py
Due: nox

Autoname params in test IDs when rendered to <name><#> otherwise
  tests/functional/beacons/vault_lease/test_vault_lease.py
  tests/functional/modules/test_vault_db.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_plugin.py
  tests/functional/modules/vault_ssh/test_vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/functional/states/test_vault_approle.py
  tests/functional/states/test_vault_gpg.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/functional/states/vault_pki/test_role_managed.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/integration/runners/vault/test_approle_issuance.py
  tests/unit/beacons/test_vault_lease.py
  tests/unit/modules/test_vault.py
  tests/unit/modules/test_vault_approle.py
  tests/unit/modules/test_vault_db.py
  tests/unit/modules/test_vault_gpg.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/modules/test_vault_plugin.py
  tests/unit/modules/test_vault_ssh.py
  tests/unit/runners/vault/test_vault.py
  tests/unit/sdb/test_vault.py
  tests/unit/states/test_vault.py
  tests/unit/states/test_vault_db.py
  tests/unit/states/test_vault_pki.py
  tests/unit/states/test_vault_plugin.py
  tests/unit/states/test_vault_secret.py
  tests/unit/states/test_vault_ssh.py
  tests/unit/utils/test_versions.py
  tests/unit/utils/vault/test_api.py
  tests/unit/utils/vault/test_cache.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_db.py
  tests/unit/utils/vault/test_factory.py
  tests/unit/utils/vault/test_helpers.py
  tests/unit/utils/vault/test_kv.py
  tests/unit/utils/vault/test_leases.py
  tests/unit/utils/vault/test_pki.py
  tests/unit/utils/vault/test_vault.py
Due: nox

Handle warnings
  tests/functional/sdb/vault/test_general.py
  tests/functional/sdb/vault/test_patch_write_only.py
  tests/functional/sdb/vault/test_via_sdb_module.py
  tests/unit/modules/test_vault.py
  tests/unit/pillar/test_vault.py
  tests/unit/runners/vault/test_token_auth_deprecated.py
  tests/unit/runners/vault/test_vault.py
  tests/unit/sdb/test_vault.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Use dedicated runner for internal logic tests
  .github/workflows/test-action.yml
  tests/common/containers.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/support/markers.py
  tests/support/pytest_hooks.py
Due: nox

Pin container versions in CI
  .github/workflows/test-action.yml
Due: none

Use marker instead of runtime skip, use vault_patch
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/integration/wrapper/vault_ssh/test_vault_ssh_pki_backend.py
Due: nox

Add general container framework
  tests/common/__init__.py
  tests/common/containers.py
  tests/common/fixtures/mysql.py
  tests/common/fixtures/vault_db.py
  tests/common/fixtures/vault_plugin.py
  tests/common/helpers/vault_plugin.py
  tests/conftest.py
  tests/functional/beacons/conftest.py
  tests/functional/modules/test_vault_approle.py
  tests/functional/modules/test_vault_db.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_plugin.py
  tests/functional/modules/vault_ssh/test_vault_ssh.py
  tests/functional/states/test_vault_approle.py
  tests/functional/states/test_vault_db.py
  tests/functional/states/test_vault_plugin.py
  tests/functional/states/vault_pki/conftest.py
  tests/functional/states/vault_pki/test_certificate_managed.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/functional/states/vault_pki/test_intermediate_issuer_managed.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/integration/runners/vault/test_master_cluster.py
  tests/integration/runners/vault/test_token_issuance_old_config.py
  tests/integration/states/test_vault_db.py
  tests/integration/utils/factory/test_sdb_in_config.py
  tests/integration/wrapper/test_vault_db.py
  tests/integration/wrapper/test_vault_plugin.py
  tests/support/vault.py
Due: nox

Don't leave running test container behind on ctrl-c
  tests/common/containers.py
  tests/conftest.py
  tests/support/vault.py
Due: nox

Correct changed files map, add pre-commit hook to verify
  .pre-commit-config.yaml
  .pre-commit-hooks/check-files-mapping.py
  tests/support/__init__.py
  tests/support/files_mapping.py
Due: nox

Improve test IDs
  tests/common/__init__.py
  tests/common/containers.py
  tests/common/fixtures/mysql.py
  tests/conftest.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
Due: nox

Add behavior marker for very specific tests
  tests/conftest.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
Due: nox

Refactor hooks into separate plugin
  .pre-commit-hooks/check-files-mapping.py
  tests/conftest.py
  tests/support/pytest_hooks.py
Due: nox

Add wrapper check pre-commit hook
  .pre-commit-config.yaml
  .pre-commit-hooks/check-wrapper-modules.py
  changelog/+wrapperlistalias.fixed.md
  src/saltext/vault/wrapper/vault_approle.py
  src/saltext/vault/wrapper/vault_plugin.py
Due: nox

Add wrapper check pre-commit hook (#189)
  .pre-commit-config.yaml
  .pre-commit-hooks/check-wrapper-modules.py
  changelog/+wrapperlistalias.fixed.md
  src/saltext/vault/wrapper/vault_approle.py
  src/saltext/vault/wrapper/vault_plugin.py
Due: nox

Cache pre-commit env and uv caches
  .github/workflows/ci.yml
  .github/workflows/clear-caches.yml
  .github/workflows/pre-commit-action.yml
  .github/workflows/tag-auto.yml
  .github/workflows/tag.yml
  .github/workflows/test-action.yml
Due: none

Cache pre-commit env and uv cache (#190)
  .github/workflows/ci.yml
  .github/workflows/clear-caches.yml
  .github/workflows/pre-commit-action.yml
  .github/workflows/tag-auto.yml
  .github/workflows/tag.yml
  .github/workflows/test-action.yml
Due: none

Log API warnings
  changelog/+apiwarnings.added.md
  src/saltext/vault/modules/vault_plugin.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/client.py
  tests/common/fixtures/vault_pki.py
  tests/common/helpers/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/states/vault_pki/conftest.py
  tests/functional/states/vault_pki/test_certificate_managed.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/functional/states/vault_pki/test_intermediate_issuer_managed.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/unit/utils/vault/test_client.py
Due: check-cli-examples, nox

Log API warnings (#191)
  changelog/+apiwarnings.added.md
  src/saltext/vault/modules/vault_plugin.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/client.py
  tests/common/fixtures/vault_pki.py
  tests/common/helpers/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/states/vault_pki/conftest.py
  tests/functional/states/vault_pki/test_certificate_managed.py
  tests/functional/states/vault_pki/test_certificate_managed_attributes.py
  tests/functional/states/vault_pki/test_intermediate_issuer_managed.py
  tests/functional/states/vault_pki/test_root_issuer_managed.py
  tests/unit/utils/vault/test_client.py
Due: check-cli-examples, nox

Fix intermediate_issuer_managed with cryptography <47
  src/saltext/vault/utils/vault/pki.py
Due: nox

Try upgrading vault
  .github/workflows/test-action.yml
Due: none

Add sign_intermediate to wrapper
  .pre-commit-hooks/check-wrapper-modules.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
Due: nox
