Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

check-cli-examples:
  name: Check CLI examples on execution modules
  entry: python .pre-commit-hooks/check-cli-examples.py
  language: python

nox:
  alias: lint-tests
  name: Lint Tests
  language: python
  entry: nox -e lint-tests-pre-commit --
  require_serial: true
  additional_dependencies:
  - nox==2025.11.12
  - uv==0.9.27

Increase Linux tests timeout
  .github/workflows/test-action.yml
Due: none

Retry some idempotent POST/PATCH requests by default
  changelog/+tokenlookupaccessor.fixed.md
  changelog/97.changed.md
  docs/ref/configuration.md
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/runners/vault.py
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/api.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/kv.py
  src/saltext/vault/utils/vault/leases.py
  tests/unit/modules/test_vault.py
  tests/unit/utils/vault/test_api.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_kv.py
  tests/unit/utils/vault/test_leases.py
Due: check-cli-examples, nox

Remove IPC_LOCK capability from testing container
  tests/conftest.py
Due: nox

Ignore API docs in linkcheck
  docs/conf.py
Due: none

Test against OpenBao
  .github/workflows/test-action.yml
  changelog/+openbao-issuer.fixed.md
  changelog/139.added.md
  src/saltext/vault/states/vault_ssh.py
  tests/conftest.py
  tests/functional/beacons/test_vault_lease.py
  tests/functional/modules/test_vault.py
  tests/functional/modules/test_vault_db.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_ssh.py
  tests/functional/states/test_vault_db.py
  tests/functional/states/test_vault_pki.py
  tests/functional/states/test_vault_secret.py
  tests/functional/states/test_vault_ssh.py
  tests/functional/utils/test_vault_api.py
  tests/integration/modules/test_vault.py
  tests/integration/runners/conftest.py
  tests/integration/runners/test_vault.py
  tests/integration/runners/test_vault_master_cluster.py
  tests/integration/sdb/test_vault.py
  tests/integration/states/test_vault_db.py
  tests/integration/utils/factory/test_sdb_in_config.py
  tests/integration/wrapper/test_vault.py
  tests/integration/wrapper/test_vault_db.py
  tests/integration/wrapper/test_vault_pki.py
  tests/integration/wrapper/test_vault_ssh.py
Due: nox

Update docs for support of OpenBao
  .copier-answers.yml
  README.md
  docs/index.rst
  pyproject.toml
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/pillar/vault.py
  src/saltext/vault/sdb/vault.py
  src/saltext/vault/states/vault.py
  src/saltext/vault/states/vault_db.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/states/vault_secret.py
  src/saltext/vault/states/vault_ssh.py
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/api.py
  src/saltext/vault/utils/vault/client.py
Due: check-cli-examples, nox

add option for chain
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Resolve merge conflicts
  .github/workflows/test-action.yml
Due: none

Apply doc improvement recommendations
  docs/ref/configuration.md
  docs/topics/basic_configuration.md
  src/saltext/vault/pillar/vault.py
Due: nox

Add auth FAQ and secret setup guide
  docs/index.rst
  docs/topics/auth_faq.md
  docs/topics/quickstart.md
Due: none

Language improvements
  docs/index.rst
  src/saltext/vault/beacons/vault_lease.py
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/pillar/vault.py
  src/saltext/vault/runners/vault.py
  src/saltext/vault/states/vault.py
  src/saltext/vault/states/vault_db.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/states/vault_secret.py
  src/saltext/vault/states/vault_ssh.py
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/api.py
  src/saltext/vault/utils/vault/auth.py
  src/saltext/vault/utils/vault/cache.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/db.py
  src/saltext/vault/utils/vault/factory.py
  src/saltext/vault/utils/vault/helpers.py
  src/saltext/vault/utils/vault/kv.py
  src/saltext/vault/utils/vault/leases.py
  src/saltext/vault/utils/versions.py
  tests/conftest.py
  tests/unit/runners/vault/test_vault.py
  tests/unit/states/test_vault.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_factory.py
Due: check-cli-examples, nox

Followup doc fixes
  docs/topics/quickstart.md
Due: none

Enhance read_certificate function to support returning private key and improve chain handling
  changelog/145.added.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Add `ssh_pki` backend compatibility
  .github/workflows/test-action.yml
  changelog/138.added.md
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/states/vault_ssh.py
  tests/conftest.py
  tests/functional/modules/vault_ssh/conftest.py
  tests/functional/modules/vault_ssh/test_vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/support/vault.py
Due: check-cli-examples, nox

Minor fixes
  docs/topics/auth_faq.md
  docs/topics/quickstart.md
  src/saltext/vault/runners/vault.py
Due: nox

Added a new function that returns the entire certificate
  changelog/145.added.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Fix cache tests for 3008+
  tests/integration/conftest.py
  tests/integration/runners/test_vault.py
Due: nox

More debug logging
  src/saltext/vault/utils/vault/cache.py
  src/saltext/vault/utils/vault/helpers.py
Due: nox

Fix wrappers in Salt 3008.x
  changelog/149.fixed.md
  src/saltext/vault/utils/vault/factory.py
Due: nox

Fix cluster tests
  tests/integration/runners/test_vault_master_cluster.py
Due: nox

add cert module to wrapper
  src/saltext/vault/wrapper/vault_pki.py
Due: nox

remove test
  tests/functional/modules/test_vault_pki.py
Due: nox

Revert "remove test"
  tests/functional/modules/test_vault_pki.py
Due: nox

fix test
  tests/functional/modules/test_vault_pki.py
Due: nox

Fix CI tests
  tests/conftest.py
Due: nox

Don't rewrite AppRole when timestring is configured
  changelog/151.fixed.md
  src/saltext/vault/runners/vault.py
  tests/functional/runners/conftest.py
  tests/functional/runners/test_vault_approle_issuance.py
  tests/unit/runners/vault/test_token_auth_deprecated.py
Due: nox

Minor fixes
  docs/topics/auth_faq.md
  docs/topics/quickstart.md
Due: none

Test against new 3008.x branch, not master
  .github/workflows/test-action.yml
  noxfile.py
Due: nox

Add `ssh_pki` backend compatibility
  .github/workflows/test-action.yml
  changelog/138.added.md
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/states/vault_ssh.py
  src/saltext/vault/wrapper/vault_ssh.py
  tests/conftest.py
  tests/functional/modules/vault_ssh/conftest.py
  tests/functional/modules/vault_ssh/test_vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/integration/wrapper/vault_ssh/__init__.py
  tests/integration/wrapper/vault_ssh/conftest.py
  tests/integration/wrapper/vault_ssh/test_vault_ssh.py
  tests/integration/wrapper/vault_ssh/test_vault_ssh_pki_backend.py
  tests/support/vault.py
Due: check-cli-examples, nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)
