Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

check-cli-examples:
  name: Check CLI examples on execution modules
  entry: python .pre-commit-hooks/check-cli-examples.py
  language: python

nox:
  alias: lint-tests
  name: Lint Tests
  language: python
  entry: nox -e lint-tests-pre-commit --
  require_serial: true
  additional_dependencies:
  - nox==2025.11.12
  - uv==0.9.27

Report more detailed changes in root_ca_present
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Account for pre-generated `csr` in certificate_managed
  changelog/+certmanagedcsr.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: check-cli-examples, nox

Rename *_ca_present to *_issuer_managed
  changelog/+intcertpresend.added.md
  changelog/+rootissuerpresent.added.md
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
  tests/integration/states/test_vault_pki.py
  tests/unit/states/test_vault_pki.py
Due: nox

Don't require common_name/role_name when unnecessary
  changelog/+certmanagedgenericendpoints.changed.md
  changelog/+certnorequirecn.fixed.md
  changelog/+signverbatimnorole.fixed.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: check-cli-examples, nox

Add intermediate CA certificate management
  changelog/+pkicacertmanaged.added.md
  changelog/+pkisignint.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/states/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/states/test_vault_pki.py
  tests/unit/utils/vault/test_pki.py
Due: check-cli-examples, nox

Add intermediate CA certificate management (#181)
  changelog/+pkicacertmanaged.added.md
  changelog/+pkisignint.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/states/test_vault_pki.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/states/test_vault_pki.py
  tests/unit/utils/vault/test_pki.py
Due: check-cli-examples, nox

Fix plugin handling on Vault 2.1.0+
  changelog/+vault210plugin.fixed.md
  src/saltext/vault/modules/vault_plugin.py
  tests/functional/modules/test_vault_plugin.py
Due: check-cli-examples, nox

Fix plugin handling on Vault 2.1.0+ (#183)
  changelog/+vault210plugin.fixed.md
  src/saltext/vault/modules/vault_plugin.py
  tests/functional/modules/test_vault_plugin.py
Due: check-cli-examples, nox

Add PKI cluster config funcs/get_issuer_id
  changelog/+pkiclusterconfig.added.md
  changelog/+pkigetissuerid.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
  tests/support/vault.py
  tests/unit/modules/test_vault_pki.py
Due: check-cli-examples, nox

Account for templated AIA urls
  changelog/+certmanagedallexts.changed.md
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/helpers.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Raise test timeout to 80 min
  .github/workflows/test-action.yml
Due: none

Align `format` <=> `encoding` param names, improve docs
  changelog/+formatencoding.changed.md
  src/saltext/vault/modules/vault_pki.py
Due: check-cli-examples, nox

Only request/render AIA URLs when necessary
  src/saltext/vault/states/vault_pki.py
Due: nox

Manage intermediate issuers signed by other Vault issuers
  changelog/+intcertpresend.added.md
  changelog/+vaultpkifuncs.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/helpers.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/states/test_vault_pki.py
  tests/integration/states/test_vault_pki.py
  tests/unit/utils/vault/test_helpers.py
Due: check-cli-examples, nox

Use `ec` key_algo when possible
  tests/functional/states/test_vault_pki.py
Due: nox

Actually align not_after handling
  src/saltext/vault/utils/vault/pki.py
Due: nox

Apply issuer config after rotation, account for unique name
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Never rotate root issuer because of AIA URLs only
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Guard early root rotation behind a flag
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Remove `issuing-certificates` usage from old issuer
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Avoid generating an issuer when name is taken
  src/saltext/vault/states/vault_pki.py
Due: nox

Fix root_issuer_managed without key_ref
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Deduplicate default issuer management logic
  src/saltext/vault/states/vault_pki.py
Due: nox

Test name collision handling
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Fix intermediate_issuer_managed idempotency
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Improve issuer docs
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
Due: check-cli-examples, nox

Fix rotation on URL read failure, fix AIA templating
  changelog/+certmanagedallexts.changed.md
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/integration/files/vault/policies/pki_deny_urls.hcl
  tests/integration/states/test_vault_pki.py
Due: nox

Adjust validity defaults, verify spec up front
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
  tests/integration/states/test_vault_pki.py
  tests/unit/states/test_vault_pki.py
Due: check-cli-examples, nox

Refuse early when not_after/*_remaining cannot be satisfied
  changelog/+certmanagednotaftererr.fixed.md
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
  tests/unit/states/test_vault_pki.py
Due: nox

Validate not_after/ttl etc. against cutoffs
  changelog/+certmanagedttlvalidation.changed.md
  src/saltext/vault/states/vault_pki.py
Due: nox

Account for `leaf_not_after_behavior`
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Preserve unmanaged customized issuer config, report more
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)
