Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)

Normalize parameters in PKI role_managed kwargs
  changelog/+pkirolenormalization.fixed.md
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Fix certificate_managed traceback with missing issuer
  changelog/+pkimissingissuer.fixed.md
  src/saltext/vault/states/vault_pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Fix listing empty (revoked) certificates
  changelog/+pkilistempty.fixed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Fix alt_names passed as dict with string values
  changelog/+pkidictsans.fixed.md
  src/saltext/vault/modules/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Fix token_entity_id migration corrupting token expire_time
  changelog/+entityidttl.fixed.md
  src/saltext/vault/utils/vault/auth.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/leases.py
  tests/unit/utils/vault/conftest.py
  tests/unit/utils/vault/test_auth.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Implement workaround/docs for otherName w/ x509_v2
  changelog/+pkiothername.fixed.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
Due: check-cli-examples, nox

Don't fire expire_events from lease beacon
  changelog/+leasebeacondupevents.fixed.md
  src/saltext/vault/beacons/vault_lease.py
  tests/functional/beacons/conftest.py
  tests/functional/beacons/vault_lease/__init__.py
  tests/functional/beacons/vault_lease/test_expire_events.py
  tests/functional/beacons/vault_lease/test_vault_lease.py
Due: nox

Fix merge patch implementation
  changelog/+secretmergepatch.fixed.md
  src/saltext/vault/states/vault_secret.py
  src/saltext/vault/utils/vault/kv.py
  tests/functional/states/test_vault_secret.py
  tests/unit/utils/vault/test_kv.py
Due: nox

Monitor SAN changes in `vault_pki.certificate_managed`
  changelog/127.fixed.md
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/states/test_vault_pki.py
Due: nox

Fix handling of static DB leases
  changelog/+staticcreds.fixed.md
  src/saltext/vault/beacons/vault_lease.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/utils/vault/leases.py
  tests/functional/modules/test_vault_db.py
  tests/functional/utils/test_vault_leases.py
Due: check-cli-examples, nox

Account for strings being passed in root_rotation_statements
  changelog/+dbconnstatements.fixed.md
  src/saltext/vault/states/vault_db.py
Due: nox

Cast deserialized CSL to int to make comparison work
  changelog/+sshuserkeylengths.fixed.md
  src/saltext/vault/states/vault_ssh.py
  tests/functional/states/test_vault_ssh.py
Due: nox

Add --changed-tests flag to pytest
  tests/conftest.py
Due: nox

Fix authenticated unwrap requests not deducting a token use
  changelog/+unwrapuse.fixed.md
  src/saltext/vault/utils/vault/client.py
Due: nox

Proxy `wipe` and `destroy` operations to `delete` on KVv1
  changelog/+secretkvv1.changed.md
  src/saltext/vault/modules/vault.py
  src/saltext/vault/utils/vault/kv.py
  tests/functional/states/test_vault_secret.py
Due: check-cli-examples, nox

Fix delete/restore/destroy_secret on 3006
  src/saltext/vault/modules/vault.py
Due: check-cli-examples, nox

Improve execution module test coverage
  changelog/+execmoderrors.fixed.md
  changelog/+listrolesipempty.fixed.md
  changelog/+sshpkikeyerror.fixed.md
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_approle.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/modules/vault_gpg.py
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_plugin.py
  src/saltext/vault/modules/vault_ssh.py
  tests/functional/modules/test_vault_gpg.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/test_vault_plugin.py
  tests/functional/modules/vault_ssh/test_vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/unit/modules/test_vault.py
  tests/unit/modules/test_vault_approle.py
  tests/unit/modules/test_vault_gpg.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/modules/test_vault_plugin.py
  tests/unit/modules/test_vault_ssh.py
Due: check-cli-examples, nox

Fix `all_principals` handling in `ssh_pki` backend
  changelog/+sshpkiallprincipals.fixed.md
  src/saltext/vault/modules/vault_ssh.py
  tests/functional/modules/test_vault_pki.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
  tests/unit/modules/test_vault_ssh.py
Due: check-cli-examples, nox

Improve state module test coverage
  src/saltext/vault/states/vault_db.py
  src/saltext/vault/states/vault_gpg.py
  src/saltext/vault/states/vault_pki.py
  src/saltext/vault/states/vault_ssh.py
  tests/functional/states/test_vault_approle.py
  tests/functional/states/test_vault_pki.py
  tests/unit/states/test_vault.py
  tests/unit/states/test_vault_approle.py
  tests/unit/states/test_vault_db.py
  tests/unit/states/test_vault_gpg.py
  tests/unit/states/test_vault_pki.py
  tests/unit/states/test_vault_plugin.py
  tests/unit/states/test_vault_secret.py
  tests/unit/states/test_vault_ssh.py
Due: nox

Improve runner, sdb and beacon coverage
  src/saltext/vault/beacons/vault_lease.py
  src/saltext/vault/runners/vault.py
  src/saltext/vault/sdb/vault.py
  tests/functional/conftest.py
  tests/functional/runners/vault/test_approle_issuance.py
  tests/functional/runners/vault/test_auth_info.py
  tests/functional/runners/vault/test_clear_cache_clears_runner_cache.py
  tests/functional/runners/vault/test_signature_validation.py
  tests/unit/runners/vault/test_vault.py
Due: nox

Fix running tests that require MariaDB container locally
  noxfile.py
Due: nox

Improve utils coverage
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/approle.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/exceptions.py
  src/saltext/vault/utils/vault/factory.py
  src/saltext/vault/utils/vault/kv.py
  src/saltext/vault/utils/vault/leases.py
  src/saltext/vault/utils/vault/pki.py
  tests/functional/utils/test_vault_api.py
  tests/functional/utils/test_vault_kv.py
  tests/integration/modules/vault/test_update_config.py
  tests/integration/utils/factory/test_unwrap_error_event.py
  tests/integration/wrapper/test_vault_plugin.py
  tests/unit/utils/test_functools.py
  tests/unit/utils/test_versions.py
  tests/unit/utils/vault/test_api.py
  tests/unit/utils/vault/test_approle.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_helpers.py
  tests/unit/utils/vault/test_kv.py
  tests/unit/utils/vault/test_leases.py
  tests/unit/utils/vault/test_pki.py
  tests/unit/utils/vault/test_vault.py
Due: nox

Fix KVv2 path mapping
  changelog/+v2thepath.fixed.md
  src/saltext/vault/utils/vault/kv.py
  tests/unit/utils/vault/test_kv.py
Due: nox

Keep accessor when updating VaultSecretID object
  changelog/+accessor.fixed.md
  src/saltext/vault/utils/vault/leases.py
  tests/unit/utils/vault/test_leases.py
Due: nox

Account for multiple `default_user`s
  changelog/+sshpkidefaultusermultival.fixed.md
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/states/vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
Due: check-cli-examples, nox

Support identity templates in principals
  changelog/+sshpkiprincipaltemplates.added.md
  src/saltext/vault/modules/vault_ssh.py
  tests/functional/modules/vault_ssh/test_vault_ssh_pki_backend.py
Due: check-cli-examples, nox

Add `allow_commas_in_identity_templates` SSH role param
  changelog/+allowcommas.added.md
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/states/vault_ssh.py
Due: check-cli-examples, nox

Allow limited server URL override in minion config
  changelog/156.added.md
  docs/ref/configuration.md
  src/saltext/vault/runners/vault.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/factory.py
  tests/functional/modules/vault/test_core_factory.py
  tests/integration/runners/vault/test_approle_issuance.py
  tests/integration/runners/vault/test_token_issuance.py
  tests/unit/runners/vault/test_vault.py
  tests/unit/utils/vault/conftest.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Fix CA cert pinning docs
  docs/ref/configuration.md
Due: none
