Repository salt-extensions/saltext-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cli-examples, nox

check-cli-examples:
  name: Check CLI examples on execution modules
  entry: python .pre-commit-hooks/check-cli-examples.py
  language: python

nox:
  alias: lint-tests
  name: Lint Tests
  language: python
  entry: nox -e lint-tests-pre-commit --
  require_serial: true
  additional_dependencies:
  - nox==2025.11.12
  - uv==0.9.27

Add `sign_intermediate` to wrapper (#193)
  .pre-commit-hooks/check-wrapper-modules.py
  src/saltext/vault/wrapper/vault_pki.py
  tests/functional/modules/test_vault_pki.py
  tests/integration/wrapper/test_vault_pki.py
Due: nox

Add optional GET transport for Vault list operations
  changelog/+listasget.added.md
  docs/ref/configuration.md
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/factory.py
  tests/unit/utils/vault/conftest.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_factory.py
Due: nox

Expose client HTTP methods+clear_on_unauthorized handling
  changelog/+apihelpers.added.md
  src/saltext/vault/utils/vault/__init__.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/factory.py
  tests/unit/utils/vault/test_client.py
  tests/unit/utils/vault/test_vault.py
Due: nox

Route all module `query("LIST"` calls through `api_list`
  changelog/+apihelpers.added.md
  docs/ref/configuration.md
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/modules/vault_gpg.py
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_ssh.py
  tests/unit/fixtures/vault.py
  tests/unit/modules/test_vault_db.py
  tests/unit/modules/test_vault_gpg.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/modules/test_vault_ssh.py
Due: check-cli-examples, nox

Use new API helpers across all modules
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_db.py
  src/saltext/vault/modules/vault_gpg.py
  src/saltext/vault/modules/vault_pki.py
  src/saltext/vault/modules/vault_plugin.py
  src/saltext/vault/modules/vault_ssh.py
  src/saltext/vault/states/vault_pki.py
  tests/common/helpers/vault_pki.py
  tests/unit/fixtures/vault.py
  tests/unit/modules/test_vault.py
  tests/unit/modules/test_vault_db.py
  tests/unit/modules/test_vault_gpg.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/modules/test_vault_plugin.py
  tests/unit/modules/test_vault_ssh.py
Due: check-cli-examples, nox

Retry non-standard LIST HTTP method
  changelog/+listretry.fixed.md
  src/saltext/vault/utils/vault/client.py
Due: nox

Add integration test for `list_as_get`
  tests/integration/utils/test_client_list_as_get.py
Due: nox

Don't mutate global parametrize dict
  tests/functional/states/vault_pki/conftest.py
Due: nox

Test adjustments (#196)
  tests/functional/states/vault_pki/conftest.py
  tests/integration/utils/test_client_list_as_get.py
Due: nox

Upgrade pre-commit action Python to fix pre-commit
  .github/workflows/pre-commit-action.yml
Due: none

Upgrade pre-commit action Python to fix pre-commit (#197)
  .github/workflows/pre-commit-action.yml
Due: none

Fix pre-commit hooks
  .pre-commit-hooks/check-files-mapping.py
  .pre-commit-hooks/check-wrapper-modules.py
  .pre-commit-hooks/make-autodocs.py
Due: none

Refactor policy funcs into separate modules
  .pre-commit-hooks/check-cli-examples.py
  changelog/+vaultpolicyfuncs.deprecated.md
  changelog/+vaultpolicymod.added.md
  docs/ref/modules/index.rst
  docs/ref/modules/saltext.vault.modules.vault_policy.rst
  docs/ref/states/index.rst
  docs/ref/states/saltext.vault.states.vault_policy.rst
  docs/ref/wrapper/index.rst
  docs/ref/wrapper/saltext.vault.wrapper.vault_policy.rst
  docs/topics/migration_from_core.md
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_policy.py
  src/saltext/vault/states/vault.py
  src/saltext/vault/states/vault_policy.py
  src/saltext/vault/wrapper/vault_policy.py
  tests/common/fixtures/vault.py
  tests/common/fixtures/vault_policy.py
  tests/functional/modules/test_vault_policy.py
  tests/functional/modules/vault/test_vault_policies.py
  tests/integration/wrapper/test_vault.py
  tests/integration/wrapper/test_vault_policy.py
  tests/support/files_mapping.py
  tests/unit/modules/test_vault.py
  tests/unit/modules/test_vault_policy.py
  tests/unit/states/test_vault.py
  tests/unit/states/test_vault_policy.py
Due: check-cli-examples, nox

Refactor KV funcs into separate modules
  changelog/+vaultsecretfuncs.deprecated.md
  changelog/+vaultsecretmod.added.md
  docs/ref/modules/index.rst
  docs/ref/modules/saltext.vault.modules.vault_secret.rst
  docs/ref/wrapper/index.rst
  docs/ref/wrapper/saltext.vault.wrapper.vault_secret.rst
  docs/topics/migration_from_core.md
  docs/topics/quickstart.md
  src/saltext/vault/modules/vault.py
  src/saltext/vault/modules/vault_secret.py
  src/saltext/vault/states/vault_secret.py
  src/saltext/vault/wrapper/vault_secret.py
  tests/functional/modules/test_vault_secret.py
  tests/functional/modules/vault/test_core_factory.py
  tests/functional/modules/vault/test_vault_kv.py
  tests/functional/states/test_vault_secret.py
  tests/functional/utils/factory/test_clear_cache.py
  tests/integration/modules/vault/test_single_use_token.py
  tests/integration/runners/vault/test_approle_issuance.py
  tests/integration/runners/vault/test_approle_issuance_without_secretid.py
  tests/integration/runners/vault/test_master_cluster.py
  tests/integration/runners/vault/test_minion_local_auth.py
  tests/integration/runners/vault/test_pillar_policy_templates_uncached.py
  tests/integration/runners/vault/test_token_issuance.py
  tests/integration/runners/vault/test_token_issuance_old_config.py
  tests/integration/utils/factory/test_unwrap_error_event.py
  tests/integration/wrapper/test_vault.py
  tests/integration/wrapper/test_vault_secret.py
  tests/support/files_mapping.py
  tests/unit/modules/test_vault.py
  tests/unit/modules/test_vault_secret.py
  tests/unit/states/test_vault_secret.py
Due: check-cli-examples, nox

Use `api_*` helpers in `vault.query` execution module
  changelog/+apihelpers.added.md
  docs/ref/configuration.md
  src/saltext/vault/modules/vault.py
  tests/functional/modules/vault/test_query.py
  tests/integration/utils/test_client_list_as_get.py
  tests/unit/modules/test_vault.py
Due: check-cli-examples, nox

Use `api_*` helpers in `vault.query` execution module func (#198)
  changelog/+apihelpers.added.md
  docs/ref/configuration.md
  src/saltext/vault/modules/vault.py
  tests/functional/modules/vault/test_query.py
  tests/integration/utils/test_client_list_as_get.py
  tests/unit/modules/test_vault.py
Due: check-cli-examples, nox

Add links to changelog entries
  changelog/+certmanagedallexts.changed.md
  changelog/+certmanagedconcurrent.fixed.md
  changelog/+certmanagedcsr.added.md
  changelog/+certmanagedemailcn.fixed.md
  changelog/+certmanagedgenericendpoints.changed.md
  changelog/+certmanagednotaftererr.fixed.md
  changelog/+certmanagedttlvalidation.changed.md
  changelog/+certnorequirecn.fixed.md
  changelog/+csrpathsign.fixed.md
  changelog/+formatencoding.changed.md
  changelog/+generateroottype.changed.md
  changelog/+intcertpresend.added.md
  changelog/+listasget.added.md
  changelog/+othernamesupport.fixed.md
  changelog/+pkicacertmanaged.added.md
  changelog/+pkiclusterconfig.added.md
  changelog/+pkigetissuerid.added.md
  changelog/+pkisignint.added.md
  changelog/+readmissingissuer.fixed.md
  changelog/+revokewithpk.added.md
  changelog/+rootissuerpresent.added.md
  changelog/+signverbatimnorole.fixed.md
  changelog/+updateissuer.added.md
  changelog/+updateissuernewparams.added.md
  changelog/+vault210plugin.fixed.md
  changelog/+vaultpkifuncs.added.md
  changelog/+vaultpolicyfuncs.deprecated.md
  changelog/+vaultpolicymod.added.md
  changelog/+vaultsecretfuncs.deprecated.md
  changelog/+vaultsecretmod.added.md
  changelog/+wrapperlistalias.fixed.md
Due: none

Minor cleanup
  changelog/+approlerunner.added.md
  changelog/+dbrunner.added.md
  changelog/+pkirunner.added.md
  changelog/+pluginrunner.added.md
  changelog/+policyrunner.added.md
  changelog/+runnermirrors.added.md
  changelog/+secretrunner.added.md
  changelog/+sshrunner.added.md
  src/saltext/vault/wrapper/vault_approle.py
  src/saltext/vault/wrapper/vault_plugin.py
  tests/support/files_mapping.py
Due: nox

Split quickstart guide tabs into separate docs
  docs/conf.py
  docs/topics/includes/issuance-policies.md
  docs/topics/includes/prereq-note.md
  docs/topics/includes/secrets-setup.md
  docs/topics/includes/test-access.md
  docs/topics/quickstart.md
  docs/topics/quickstart_approle.md
  docs/topics/quickstart_local.md
  docs/topics/quickstart_token.md
Due: none

Adjust wording in docs
  docs/index.rst
  docs/ref/configuration.md
  docs/topics/auth_faq.md
  docs/topics/migration_from_core.md
  docs/topics/templating.md
Due: none

Add note regarding OpenBao horizontal scaling
  docs/ref/configuration.md
Due: none

Testing copier
  .copier-answers.yml
  .envrc.example
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/deploy-docs-action.yml
  .github/workflows/docs-action.yml
  .github/workflows/get-changed-files.yml
  .github/workflows/package-action.yml
  .github/workflows/pre-commit-action.yml
  .github/workflows/prepare-release-action.yml
  .github/workflows/push.yml
  .github/workflows/set-resolution-action.yml
  .github/workflows/tag-auto.yml
  .github/workflows/tag.yml
  .github/workflows/test-action.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks/check-cli-examples.py
  .pre-commit-hooks/make-autodocs.py
  .pylintrc
  Makefile
  noxfile.py
  pyproject.toml
  setup.py
  src/saltext/vault/utils/vault/client.py
  src/saltext/vault/utils/vault/helpers.py
  src/saltext/vault/utils/vault/leases.py
  tests/unit/modules/test_vault_pki.py
  tests/unit/utils/vault/test_pki.py
  tools/helpers/cmd.py
  tools/helpers/copier.py
  tools/helpers/prompt.py
  tools/helpers/venv.py
  tools/initialize.py
  tools/version.py
Due: nox

Path conditions:
  check-cli-examples: any of: ^src/saltext/vault/modules/.*\.py$
  nox: (any of: ^((setup|noxfile)|src/.*)\.py$) or (any of: ^tests/.*\.py$)
